.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebarRow:hover {
  background-color: #f2f2f2;
}

.sidebarRow__icon {
  width: 28px;
  height: 28px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarRow__title {
  flex: 1;
  margin-left: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.sidebarRow.selected {
  background-color: lightgray;
}

.sidebarRow.selected > .sidebarRow__icon {
  color: red;
}

.sidebarRow.selected > .sidebarRow__title {
  font-weight: bold;
}
