.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  height: 44px;
  padding: 0 8px 0 16px;
  border-radius: 24px;
  width: 800px;
  margin-top: 24px;
  max-width: 584px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-input:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search-input:focus-within {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search-input > input {
  flex: 1;
  padding: 0 8px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  outline: none;
  background: transparent;
  line-height: 22px;
  height: 34px;
}

.search-input-icon,
.search-input > .MuiSvgIcon-root {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  padding: 0 8px;
  cursor: pointer;
  margin: 0 4px;
}

.search-input-icon:hover,
.search-input > .MuiSvgIcon-root:hover {
  color: rgb(51, 50, 50);
}

.search-input > .MuiSvgIcon-root:nth-last-child(-n + 3) {
  margin: 0 4px;
}

.search-icon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 0 4px;
}

.search-icon-wrapper:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #616161;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
}

.search-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-button button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
}

.search-button button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.google-blue-icon {
  color: #4285f4 !important;
  opacity: 0.85;
}
