.search-input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 50px;
  padding: 0 20px;
  border-radius: 999px;
  width: 800px;
  margin-top: 40px;
  max-width: 560px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-input:hover {
  background-color: #f1f1f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-input:focus-within {
  background-color: #e0e0e0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #bebbbb;
}

.search-input > input {
  flex: 1;
  padding: 0 10px;
  font-size: medium;
  border: none;
  outline: none;
  background: transparent;
}

.search-input-icon,
.search-input > .MuiSvgIcon-root {
  color: rgb(161, 159, 159);
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.search-input-icon:hover,
.search-input > .MuiSvgIcon-root:hover {
  color: rgb(51, 50, 50);
}

.search-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-button button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.search-button button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
